@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.woff2) format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.woff2) format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.woff2) format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.woff2) format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    color: #38343A;
    background-color: #F5F7F7;
}

nav {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #38343A;
    background-color: #DBA945;
}

.nav-list {
    justify-content: space-between;
}

.nav-item {
    margin: 0px 15px;
}

.contact-item {
    margin: 0px 5px;
}

.page-logo {
    margin: 0px 15px;
    width: 80px;
    opacity: 0.8;
}

.page-logo:hover {
    opacity: 1;
}

.social-icon {
    width: 26px;
    opacity: 0.8;
}

.social-icon:hover {
    opacity: 1;
}

.hero-bg {
    background-image: url('../images/header-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content {
    padding-top: 150px;
    padding-bottom: 150px;
}

.header-content {
    padding: 45px 0px;
}

.hero-title {
    color: #DBA945;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    text-align: left;
    text-transform: uppercase;
}

.page-title {
    color: #F5F7F7;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: left;
    text-transform: uppercase;
}

.header-form {
    padding: 30px;
    color: #38343A;
    background-color: rgba(164, 162, 137, 0.8);
    border-radius: 5px;
}

.header-form h2 {
    margin: 15px;
    color: #F5F7F7;
}

.header-form p {
    margin: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #F5F7F7;
}

.header-form form {
    margin: 15px;
}

input {
    margin-top: 15px;
    margin-bottom: 15px;
}

.submit-btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* text-transform: uppercase; */
    color: #38343A;
    background-color: #DBA945;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: #e0b45c;
}

.submit-btn:active {
    color: #DBA945;
    border-style: none;
}

#about-us {
    padding-top: 100px;
}

.title {
    margin-bottom: 50px;
}

.about-us-text {
    text-align: justify;
}

#why-us {
    padding-top: 100px;
}

.advantage-item h4 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    height: 48px;
}

.advantage-img {
    justify-content: center;
    width: 100px;
    border-radius: 50px;
}

#services {
    padding-top: 100px;
}

.services-item{
    height: 220px;
    color: #38343A;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.services-item h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #A4A289;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    text-transform: uppercase;
}

#gallery {
    padding-top: 100px;
    padding-bottom: 100px;
}

.gallery-item {
    margin-top: 20px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#contact-us {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #A4A289;
}

#contact-us h4 {
    margin: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}

#contact-us a {
    text-decoration: none;
    margin: 5px;
}

#contact-us a:hover {
    color: #e0b45c;

}

hr {
    color: #38343A;
}

#contact-us .phone {
    font-family: 'Montserrat';
    font-style: normal;
    color: #38343A;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}